{% if locale == 'en' %} {% set otherLocale = 'fr' %} {% set localeName =
'français' %} {% else %} {% set otherLocale = 'en' %} {% set localeName =
'english' %}{% endif %}
<footer class="site-foot wrapper">
  <div class="site-foot__content">
    <p class="copyright">&copy; Omnium Concept Inc. 2005 - 2021</p>
    <nav class="site-foot__nav" aria-label="Secondary nav">
      <ul class="">
        <li>
          <a href="{{locale}}/{{ 'navigation.careers' | i18n}}"
            >{{ 'navigation.careers' | i18n}}</a
          >
        </li>
        <li><a href="{{otherLocale}}">{{ localeName }}</a></li>
      </ul>
    </nav>
  </div>
</footer>
