.nav {
  background-color: get-color('white');
  box-shadow: 0 1px 0 get-color('black');
  font-weight: 400;
  line-height: 1;
  padding: get-size('500') 0.5rem get-size('300');

  &__list {
    align-items: center;
    display: flex;
    justify-content: space-between;

    li + li {
      margin-left: get-size('300');
    }
  }

  a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: get-color('black');
    font-size: get-size('400');
  }

  @include media-query('s') {
    box-shadow: unset;
  }

  @media (orientation: landscape) {
    box-shadow: unset;
  }
}
