{% extends './base.html' %} {% block content %}
<section class="hero wrapper lg-grid">
  <div class="hero__content flow">
    <h1 class="[ hero__heading ] [ text-700 md:text-800 measure-micro ]">
      {{ hero.title }}
    </h1>
    <p class="[ hero__text ] [ md:text-500 measure-short ]">{{ hero.text }}</p>
    <form class="hero__form">
      <label for="email-cta">
        <input type="email" name="email-cta" id="email-cta" required />
        <span class="text-300">{{ 'cta' | i18n }}</span>
      </label>
      <button type="submit">
        <span class="visually-hidden">Send</span>{%- include
        "icons/arrow-top-right-icon.svg" -%}
      </button>
    </form>
  </div>

  <picture class="hero__image">
    <source
      srcset="/static/illustrations/hero-img-large.svg"
      media="(min-width: 65em)"
    />
    <source
      srcset="/static/illustrations/hero-img-mid.svg"
      media="(min-width: 50em)"
    />
    <img src="/static/illustrations/hero-img-small.svg" alt="" />
  </picture>
</section>

<article
  id="{{ 'navigation.values' | i18n }}"
  class="[ values ] [ grid flow wrapper ]"
>
  <h2 class="values__title">{{'values.title' | i18n }}</h2>
  <ul class="values__content">
    <li class="value">
      <div class="value__icon">{% include "icons/edit-icon.svg" %}</div>
      <h3 class="value__title">{{ 'values.detail' | i18n }}</h3>
      <p class="value__text">{{ value.detail}}</p>
    </li>
    <li class="value">
      <div class="value__icon">{% include "icons/work-icon.svg" %}</div>
      <h3 class="value__title">{{ 'values.experience' | i18n }}</h3>
      <p class="value__text">{{ value.experience }}</p>
    </li>
    <li class="value">
      <div class="value__icon">{% include "icons/filter-icon.svg" %}</div>
      <h3 class="value__title">{{ 'values.focus' | i18n }}</h3>
      <p class="value__text">{{ value.focus }}</p>
    </li>
    <li class="value">
      <div class="value__icon">{% include "icons/show-icon.svg" %}</div>
      <h3 class="value__title">{{ 'values.transparent' | i18n }}</h3>
      <p class="value__text">{{ value.transparent }}</p>
    </li>
    <li class="value">
      <div class="value__icon">{% include "icons/discovery-icon.svg" %}</div>
      <h3 class="value__title">{{ 'values.inter' | i18n }}</h3>
      <p class="value__text">{{ value.inter }}</p>
    </li>
    <li class="value">
      <div class="value__icon">{% include "icons/activity-icon.svg" %}</div>
      <h3 class="value__title">{{ 'values.results' | i18n }}</h3>
      <p class="value__text">{{ value.results }}</p>
    </li>
  </ul>
</article>

<article id="{{ 'navigation.focus' | i18n }}" class="focus">
  <article class="product">
    <img src="/static/illustrations/product.svg" alt="" />
    <h2 class="product__title">{{ 'focus.product' | i18n }}</h2>
    <p>{{product.textA}}</p>
    <p>{{product.textB}}</p>
  </article>
  <article class="progress">
    <img src="/static/illustrations/progress.svg" alt="" />
    <h2 class="progress__title">{{ 'focus.progress' | i18n }}</h2>
    <p>{{progress.textA}}</p>
    <p>{{progress.textB}}</p>
  </article>
</article>

<article id="{{ 'navigation.tools' | i18n }}" class="tools">
  <h2 class="tools__title">{{ 'tools' | i18n }}</h2>
  {% include "illustrations/salesforce.svg" %}
  <div class="tools__content">
    <p>{{ tools.mainText }}</p>
    <p>{{ tools.textA }}</p>
    <p>{{ tools.textB }}</p>
  </div>
</article>

<article class="clients">
  <h2 class="clients__title">{{ 'clients' | i18n }}</h2>
  <ul class="slides">
    {%- for client in caseStudies %}
    <li class="slide">
      <p class="slide__text">{{ client.description }}</p>
    </li>
    {% set company = client.company %} {% if client.company == 'c360hd' %} {%
    include "logos/c360hd-logo.svg" %} {% elif client.company == 'firstData' %}
    {% include "logos/firstData-logo.svg" %} {% endif %} {% endfor -%}
  </ul>
</article>

{% set formImage = true %} {% set formResume = false %} {% include "form.html"
%} {% endblock %}
