{% extends './base.html' %} {% block content %}
<section class="hero">
  <div class="hero__content">
    <h1 class="hero__heading">{{ hero.title }}</h1>
    <p class="hero__text">{{ hero.text }}</p>
  </div>
  <img class="hero__image" src="{{hero.image}}" alt="" />
  <form id="hero__form">
    <label for="email-cta">
      <p>Get in touch</p>
      <input type="email" name="email-cta" id="email-cta" />
    </label>
    <button type="submit">Send</button>
  </form>
</section>

<article
  id="{{ 'navigation.values' | i18n }}"
  class="[ values ] [ grid flow wrapper ]"
>
  <h2 class="values__title">{{values.title}}</h2>
  <ul class="values__content">
    <li class="value">
      <div class="value__icon"></div>
      <h3 class="value__title">{{ 'values.detail' | i18n }}</h3>
      <p class="value__text">{{ value.detail}}</p>
    </li>
    <li class="value">
      <div class="value__icon"></div>
      <h3 class="value__title">{{ 'values.experience' | i18n }}</h3>
      <p class="value__text">{{ value.experience }}</p>
    </li>
    <li class="value">
      <div class="value__icon"></div>
      <h3 class="value__title">{{ 'values.focus' | i18n }}</h3>
      <p class="value__text">{{ value.focus }}</p>
    </li>
    <li class="value">
      <div class="value__icon"></div>
      <h3 class="value__title">{{ 'values.transparent' | i18n }}</h3>
      <p class="value__text">{{ value.transparent }}</p>
    </li>
    <li class="value">
      <div class="value__icon"></div>
      <h3 class="value__title">{{ 'values.inter' | i18n }}</h3>
      <p class="value__text">{{ value.inter }}</p>
    </li>
    <li class="value">
      <div class="value__icon"></div>
      <h3 class="value__title">{{ 'values.results' | i18n }}</h3>
      <p class="value__text">{{ value.results }}</p>
    </li>
  </ul>
</article>

<article id="{{ 'navigation.focus' | i18n }}" class="focus">
  <article class="product">
    <h2 class="product__title">{{ 'focus.product' | i18n }}</h2>
    <p>{{product.textA}}</p>
    <p>{{product.textB}}</p>
  </article>
  <article class="progress">
    <h2 class="progress__title">{{ 'focus.progress' | i18n }}</h2>
    <p>{{progress.textA}}</p>
    <p>{{progress.textB}}</p>
  </article>
</article>

<article id="{{ 'navigation.tools' | i18n }}" class="tools">
  <h2 class="tools__title">{{ 'tools' | i18n }}</h2>
  <picture class="tools__image">
    <img src="" alt="" />
  </picture>
  <div class="tools__content">
    <p>{{ tools.mainText }}</p>
    <p>{{ tools.textA }}</p>
    <p>{{ tools.textB }}</p>
  </div>
</article>

<article class="clients">
  <h2 class="clients__title">{{ 'clients' | i18n }}</h2>
  <ul class="slides">
    {%- for client in caseStudies %}
    <li class="slide">
      <p class="slide__text">{{ client.description }}</p>
    </li>
    {# TODO include client.company svg #} {% endfor -%}
  </ul>
</article>

{% set formImage = true %} {% set formResume = false %} {% include "form.html"
%} {% endblock %}
