@font-face {
  font-family: 'archiabold';
  src: url('/static/fonts/archia-bold-webfont.eot');
  src: url('/static/fonts/archia-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/archia-bold-webfont.woff2') format('woff2'),
    url('/static/fonts/archia-bold-webfont.woff') format('woff'),
    url('/static/fonts/archia-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'archiaregular';
  src: url('/static/fonts/archia-regular-webfont.eot');
  src: url('/static/fonts/archia-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/archia-regular-webfont.woff2') format('woff2'),
    url('/static/fonts/archia-regular-webfont.woff') format('woff'),
    url('/static/fonts/archia-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
